.main{
   
    background-image: url("./images/trivia1.jpg") ;
    height:90vh;
   
    
}
.startdiv{
    height: 70px;
    width: 200px;
    background-color:yellow;
   margin: 95px;
  
    border-radius:36% 40% 26% 35% / 32% 31% 10% 12% ;
}
.aaa{

    text-align: center;
    position: fixed;
    top: 30vh;
    margin-left: 38%;
    height:300px;
    width: 300px;
    background-image: url("./images/trivia3.jpg") ;
    display: flex;
    justify-content: center;
    align-items:flex;
    border-radius:50% 49% 33% 35% / 5% 5% 22% 25% 
}
.bbb{
    position: absolute;
  top: 0;
   
}